.App-body {
  padding: 1vw;
}

.App-title {
  display: flex;
  align-items: center;
}

.App-logo {
  height: 40px;
  margin-right: 1vw;
}

.App-kanban {
  display: flex;
  flex-direction: row;
}

.column {
  /* padding: 8px; */
  /* border: 1pt solid black; */
  width: 250px;
  /* margin-right: 10px; */
  /* border-radius: 5px; */
}

.column-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-button {
  background-color: black;
}

.draggable {
  background-color: #F7F6F3;
}

.droppable {
  min-height: 30px;
  transition: background-color 0.2s;
}

.was-validated .form-control:valid~.invalid-feedback {
  display: none;
}

.assignee {
  font-size: 10px;
  height: 15px;
  width: 15px;
}

.tags {
  font-size: 10px;
}

.day {
  font-size: 10px;
  color: gray;
}